[submodule "Deps/gtm-oauth2"]
	path = Deps/gtm-oauth2
	url = https://github.com/google/gtm-oauth2.git
	branch = master
[submodule "Deps/gtm-session-fetcher"]
	path = Deps/gtm-session-fetcher
	url = https://github.com/google/gtm-session-fetcher.git
	branch = master
[submodule "Deps/AppAuth"]
	path = Deps/AppAuth
	url = https://github.com/openid/AppAuth-iOS.git
[submodule "Deps/GTMAppAuth"]
	path = Deps/GTMAppAuth
	url = https://github.com/google/GTMAppAuth.git
